﻿@model IEnumerable<ProjectFirst.Models.Comment>

@{Layout = null; }
    @foreach (var b in Model)
{
    <div id="com_@b.id" class="showitems">
        <div id="name"><p>@b.name<p></div>
        <div class="date_v" id="date">
            <p>@b.date<p>
        </div>
        <button name="edit" class="edit_button" value="@b.id">Edit</button>
        <button name="delete" class="delete_button" value="@b.id">Delete</button>

        <div name="title"> <p id="title">@b.title</p> </div>
        <div class="descriptionblock"><p>@b.description</p></div>
    </div>
}

