﻿
@{
    
    Layout = null;
}

<div id="modal_form">
    <span id="modal_close" ng-click="close_edit()">X</span>
    <input ng-model="update.id"  id="id_ed" type="hidden" name="id" value="">
    <p class="input_it">Your Name</p>
    <input ng-model="update.name" id="name_ed" type="text" name="name" autocomplete="off">
    <input ng-model="update.date" id="date_ed" type="hidden" name="date" value="@DateTime.Now">
    <p class="input_it">Title</p>
    <input ng-model="update.title" id="title_ed" type="text" name="title" autocomplete="off">
    <p class="input_it">Description</p>
    <textarea ng-model="update.description" id="descr_ed" name="description" cols="40" rows="7"></textarea>
    <button id="submit_ed" ng-click="save_edit(update.id, update.name, update.date, update.title, update.description)">Send</button>
</div>
