﻿@{
    ViewBag.Title = "Test";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="new_letter">
        <input ng-model="send.id" id="id_f" type="hidden" name="id">
        <p class="input_items">Your Name</p>
        <input ng-model="send.name" id="name_f" class="n_letter" type="text" name="name" autocomplete="off">
        <input ng-model="send.date" id="date_f" class="date" type="hidden" name="date" value="@DateTime.Now">
        <p class="input_items">Title</p>
        <input ng-model="send.title" id="title_f" class="n_letter" type="text" name="title" autocomplete="off">
        <p class="input_items" id="description">Description</p>
        <textarea ng-model="send.descr" id="descr_f" class="textarea" cols="40" rows="7"></textarea>
        <button id="submit" ng-click="send_comment(send.id, send.name, send.date, send.title, send.descr)">Send</button>
</div>

<div id="result">
    @Html.Partial("Add")
</div>

<div id="editor">
    @Html.Partial("Editor");
</div>

<div id="overlay"></div>


