﻿/*GENERAL*/


* {
  margin:0px;
  padding:0px;
}

body
{
	background: linear-gradient(to right, rgba(245,245,245,1) 0%, rgba(237,237,237,1) 14%, rgba(227,227,227,1) 47%, rgba(255,255,255,1) 100%);
	margin-top: 40px;
}

input[type=text] {
  border: 1px dotted #999;
  border-radius: 3px;
  height: 20px;
  margin-bottom: 4px;
  -webkit-appearance: none;
}

button{
    outline: none;
}

textarea
{
	border: 1px dotted #999;
 	border-radius: 4px;
 	outline: none;
    -webkit-appearance: none;
}

#submit:hover, #submit_ed:hover{
    background-color: #94989e;
    font-weight:bold;
}

/*FORM FOR COMMENTS*/

#new_letter
{

	margin-left: 32%;
	visibility: visible;
	font-family: Fresca Regular;
	
}

.input_items
{
	margin-top: 5px;
}
input[type="text"]
{
	margin-top: 5px;
    outline: none;
}
.textarea
{	
    outline: none;
	position: absolute;
	margin-top: 0px;
	margin-left: 200px;
    width: 318px;
}
#description
{
	margin-top:-110px;
	margin-left: 200px
}

#submit{
    width: 100px;
	border-radius:3px;
    border: solid 2px #000000;
	margin-top: 130px;
	margin-left: 420px;
}

/*FORM FOR POP UP*/

#modal_form *{
    display:block;
}

#descr_ed{
    width: 297px;
}

#modal_form {
	width: 300px; 
	height: 300px;
	border-radius: 5px;
	border: 3px #000 solid;
	background: #fff;
	position: fixed; 
	top: 45%; 
	left: 50%; 
	margin-top: -150px;
	margin-left: -150px; 
	display: none; 
	opacity: 0; 
	z-index: 5; 
	padding: 20px 10px;
}

#modal_form #modal_close {
	width: 21px;
	height: 21px;
	position: absolute;
	top: 10px;
	right: 10px;
	cursor: pointer;
	display: block;
}

#overlay {
	z-index:3;
	position:fixed;
	background-color:#000;
	opacity:0.8;
	opacity:0.8;
	filter:alpha(opacity=80);
	width:100%; 
	height:100%;
	top:0;
	left:0;
	cursor:pointer;
	display:none;
}

#submit_ed{
     width: 100px;
	border-radius:3px;
    border: solid 1px #000000;
    margin-top: 10px;
    margin-left:auto;
}

#modal_form input, 
#modal_form textarea{
    border-radius:3px;
	border-style: solid;
	border-color: #000000;
}

/* COMMENTS */

.showitems
{
    font-family:Fresca Regular;
    margin-top:10px;
    display:block;
    padding:10px;
    padding-left:20px;
    margin-left:32%;
    width:36%;
    min-height:110px;
    background-color:white;
    border-radius:5px;
    margin-bottom:20px;

}
.delete_button
{
	
	position: absolute;
	background-color:#FF2A2A;
	font-family: Fresca Regular;
	width:60px;
	font-size: 16px;
	height: 20px;
	border:0px ;
	border-radius: 3px; 
	margin-left: 420px;
	margin-top:-30px;

}
#title
{
	font-size: 20px;
	text-align: center;
	margin-bottom: 15px;
}



.edit_button
{
	position: absolute;
	background-color:#FF2A2A;
	font-family: Fresca Regular;
	width:60px;
	font-size: 16px;
	height: 20px;
	border:0px ;
	border-radius: 3px; 
	margin-left: 340px;
	margin-top: -30px;
	

}
.date_v{
    font-size:13px;
}

.edit_button:hover,
.delete_button:hover{
    font-weight:bold;
}

