﻿<!DOCTYPE html>
<html ng-app="myApp">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/Site.css")
    @Scripts.Render("~/bundles/modernizr")
    <script type="text/javascript" src="~/Scripts/jquery-1.10.2.min.js"></script>
    <!--<script type="text/javascript" src="~/Scripts/MyJavaScript.js"></script>-->
    <script type="text/javascript" src="~/Scripts/angular.min.js"></script>
    <script type="text/javascript" src="~/Scripts/MyAngulareModul.js"></script>
</head>
<body ng-controller="CommentCtrl">
    @RenderBody();
   
</body>
</html>
